#include "${stem}.hpp"

#include "tap/drivers.hpp"

namespace ${namespace}
{
${class_name}::${class_name}(tap::Drivers* drivers) : tap::control::Subsystem(drivers) {}

void ${class_name}::initialize()
{
    // TODO: initialize the hardware this subsystem owns.
}

void ${class_name}::refresh()
{
    // TODO: periodic control loop. Runs every scheduler tick.
}
}  // namespace ${namespace}
